@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?2vrbe');
  src:  url('fonts/icomoon.eot?2vrbe#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?2vrbe') format('truetype'),
    url('fonts/icomoon.woff?2vrbe') format('woff'),
    url('fonts/icomoon.svg?2vrbe#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pause:before {
  content: "\e900";
}
.icon-play:before {
  content: "\e901";
}
.icon-search-outline:before {
  content: "\e902";
}
.icon-search:before {
  content: "\e90c";
}
.icon-info-outline:before {
  content: "\e904";
}
.icon-info:before {
  content: "\e905";
}
.icon-map-outline:before {
  content: "\e906";
}
.icon-map:before {
  content: "\e907";
}
.icon-news-outline:before {
  content: "\e908";
}
.icon-news:before {
  content: "\e909";
}
.icon-radio-outline:before {
  content: "\e90a";
}
.icon-radio:before {
  content: "\e90b";
}
.icon-weather-outline:before {
  content: "\e903";
}
.icon-weather:before {
  content: "\e90d";
}
